.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #202020;
  height: 75px;
  color: white;
  box-shadow: 10px 10px 5px #d3d3d3;
}

.App-intro {
  font-size: large;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#root {
  height: 100%;
}


.content-wrap {
  height: calc(100% - 75px);
  position: relative;
}

.content-wrap .colorful-font {
  position: absolute;
  font-size: 200px;
  top: 100px;
  text-align: center;
  width: 100%;
  color: #000000;
}
.content-wrap .colorful-font>span {
  position: relative;
  display: inline-block;
}
.content-wrap .colorful-font>span:before {
  content: 'æž';
  position: absolute;
  font-size: 200px;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  color: #ffffff;
  overflow: hidden;
}

.content-wrap .banner {
  width: 50%;
  height: 100%;
  float: left;
}

.content-wrap .banner.left {
  background-color: #000000;
}

.content-wrap .banner.right {
  background-color: #ffffff;
}

.wave-wrap {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #00a9e7;
  position: relative;
}
.content-wrap>h2 {
  text-align: center;
  font-size: 36px;
  color: rgb(50, 50, 59);
  font-weight: bold;
  z-index: 100;
  position: absolute;
  top: 50px;
  width: 100%;
}
.wave-wrap:after {
  width: 300%;
  height: 300%;
  content: '';
  display: block;
  background-color: #ffffff;
  z-index: 10;
  border-radius: 39%;
  transform: translate(-40%,-100%);
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
   from {
     transform: translate(-40%,-100%) rotate(0deg) ;
   }
  to {
    transform: translate(-40%,-100%) rotate(360deg) ;
  }
}